.faq-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 112px;
}

.faq-container .title{
    font-size: 56px;
    
}

.faq-container .subtitle{
    font-size: 20px;
    margin-top: 24px;
    
}








.accordion-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 112px;
    width: 700px;
   
  

}

.accordion {
    border: 1px;
    background-color: black;
    color: rgb(255, 255, 255);
    border-bottom: #ffcc52 solid;

    width: 700px;
    
   
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    
    outline: none;
    transition: 0.4s;
  }
  

  .active, .accordion:hover {
    background-color: #ffcc52   ;
    width: 100%;
    
  }
  

  .panel {
    padding: 0 18px;
    flex-direction: row;
    display: none;
    overflow: hidden;
  }