@import url(https://db.onlinewebfonts.com/c/258f25658f1456fd0206d4fb09b637fe?family=Acrom+W00+Regular);

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Acrom W00 Regular", sans-serif; 
    line-height: 150%; 
    font-size: 14px; 
    
    position: relative; 
    text-decoration: none; 
    scroll-behavior: smooth; 
    list-style-type: none; 
} 
 
body { 
    min-height: 100vh; 
    background: black;
    color: white;
} 

a{
    color: #FFCC53;
    text-decoration: underline;
    font-size: 20px;
}
 
/* Basic elements */ 
 
.btn-light { 
    font-size: 16px; 
    padding: 12px 24px; 
    border: 1px solid black; 
    opacity: 1; 
    transition: all 0.3s ease; 
    will-change: opacity; 
} 
 
.btn-light:hover { 
    opacity: 0.5; 
} 
 
.btn-dark { 
    font-size: 16px; 
    padding: 12px 24px; 
    border: 1px solid black; 
    background: black; 
    color: white; 
    opacity: 1; 
    transition: all 0.3s ease; 
    will-change: opacity; 
} 
 
.btn-dark:hover { 
    opacity: 0.5; 
} 

.hover-button {
    text-decoration: none;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 139px;
    height: 48px;
    background: rgb(255,204,83);
    background: linear-gradient(90deg, rgba(255,204,83,1) 49%, rgba(255,204,83,0.46551120448179273) 100%);
    margin-top: 24px;
}

.hover-button:hover {
    background: rgb(170, 136, 55);
}


 
/* Basic elements */ 